NEXT_PUBLIC_USE_P2P=false
# P2P Configuration - Supabase
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_ANON_KEY=your-supabase-anon-key
# Cloudflare TURN Server Credentials https://developers.cloudflare.com/realtime/turn/
CLOUDFLARE_TURN_ID=your-turn-key-id
CLOUDFLARE_TURN_API=your-turn-api-token
# Development Mode
NEXT_PUBLIC_USE_MOCK_P2P=false



NEXT_PUBLIC_USE_PARTYKIT=true
# PartyKit Configuration
# For local development: localhost:1999
# For production: xxx.xxx.partykit.dev
NEXT_PUBLIC_PARTYKIT_HOST="localhost:1999"
